################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.json
/x64/Debug
/Battleship/x64/Debug
/.vs
